@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./_filters.scss";

.shadow-custom {
    filter: drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.1));
}

button {
    background-color: #252B39;
    color: white;
    transition: all .3s;

    &:hover {
        background-color: #02C48D;
        color: #252B39;
    }

    &[type=submit] {
        background-color: #02C48D;
        color: #252B39;
        
        &:hover {
            background-color: #252B39;
            color: white;
        }
    }
}

.gradient-effect {
    a {
        padding-bottom: 5px;
        background: linear-gradient(to right,#02c48d 0%,#02c48d 100%);
        background-size: 0px 4px;
        background-repeat: no-repeat;
        background-position: left 87%;
        transition: all 300ms ease;

        &:hover {
            color: #222;
            background-size: 100% 4px;
        }
    }
}

input[type="checkbox"] {
    accent-color: #2ccea0;
}

.font-gilory {
    font-family: 'Gilory', sans-serif;
}

q {
    position: relative;
    &::before {
        background-image: url(../images/quote-start.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        left: -63px;
        top: 7px;
        width: 52px;
    }

    &::after {
        background-image: url(../images/quote-end.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        bottom: -43px;
        height: 31px;
        right: 20px;
        width: 35px;
    }
}